<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
  {{ partial('_partials/head/head.njk', {}, {cache: theme.cache.enable}) }}
  {%- include '_partials/head/head-unique.njk' -%}
  <title>{% block title %}{% endblock %}</title>
  {{ partial('_third-party/analytics/index.njk', {}, {cache: theme.cache.enable}) }}
  {{- next_inject('head') }}
  <noscript>
    <link rel="stylesheet" href="{{ url_for(theme.css) }}/noscript.css">
  </noscript>
</head>

{# class加上home：设置主页背景色 #}
<body itemscope itemtype="http://schema.org/WebPage" class="
    {% if theme.motion.enable %}use-motion{% endif %}
    {% if is_home() %}home{% endif %}
  ">


  <div class="headband"></div>

  {# 特殊悬浮物 #}
  <div class="navigation">
    {# 搜索弹窗 #}
    {{ partial('_partials/search/index.njk', {}, {cache: theme.cache.enable}) }}

    {# 语言 #}
    {%- include '_partials/languages.njk' -%}

    {# 悬浮按钮 #}
    {{ partial('_partials/widgets.njk', {}, {cache: theme.cache.enable}) }}

    {# 侧边栏 #}
    {# {%- if theme.sidebar.display !== 'remove' %} #}
    {% block sidebar %}{% endblock %}
    {# {%- endif %} #}
  </div>


  <main class="main">
    {#
    <div class="column">
      <header class="header" itemscope itemtype="http://schema.org/WPHeader">
        {%- include '_partials/header/index.njk' -%}
      </header>
    </div>
    #}

    <div class="main-inner {% block class %}{% endblock %}">
      {# {%- include '_partials/sidebar/sub-menu.njk' -%} #}
      {% block content %}{% endblock %}
      {%- include '_partials/comments.njk' -%}
    </div>
  </main>

  {# 原footer位置，现footer在各所需页面中（主页 菜单 about等） #}

  {{ partial('_scripts/index.njk', {}, {cache: theme.cache.enable}) }}
  {{ partial('_third-party/index.njk', {}, {cache: theme.cache.enable}) }}
  {{ partial('_third-party/statistics/index.njk', {}, {cache: theme.cache.enable}) }}

  {%- include '_third-party/math/index.njk' -%}
  {%- include '_third-party/quicklink.njk' -%}

  {{- next_inject('bodyEnd') }}
</body>
</html>
