{% extends '_layout.njk' %}
{% import '_macro/sidebar.njk' as sidebar_template with context %}

{% block title %}{{ title }}{% if theme.index_with_subtitle and subtitle %} - {{ subtitle }}{% endif %}{% endblock %}

{% block class %}index posts-expand{% endblock %}

{% block content %}

  {#<div class="column">#}
  <header class="header" itemscope itemtype="http://schema.org/WPHeader">
    {%- include '_partials/header.njk' -%}
  </header>
  {#</div>#}
  
  <div class="home__blocks">
    {# home主页封面 #}

    {# 各系列杂志栏 #}
    {# Hexo 使用 Warehouse 存储数据，它不是一般数组所以必须先进行类型转型才能遍历。https://hexo.io/zh-cn/docs/troubleshooting.html#%E5%9C%A8-Jade-%E6%88%96-Swig-%E9%81%8D%E5%8E%86%E6%95%B0%E6%8D%AE #}
    {%- for category in site.categories.toArray() %}
      {%- if not category.parent %}
      {{ partial('_macro/card-stack.njk', {category: category}) }}
      {%- endif %}
    {%- endfor %}

    {# 各tag #}

    {%- for post in page.posts.toArray() %}
      {{ partial('_macro/post.njk', {post: post, is_index: true}) }}
    {%- endfor %}

    {%- include '_partials/pagination.njk' -%}

    <footer class="footer">
      <div class="footer-inner">
        {{ partial('_partials/footer.njk', {}, {cache: theme.cache.enable}) }}
      </div>
    </footer>
  </div>

{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(false) }}
{% endblock %}
