/*
.site-meta {
  flex-grow: 1;
  text-align: center;
  line-height: normal;

  +mobile() {
    text-align: center;
  }

  .brand {
    //background: var(--btn-default-bg);
    +mobile() {
      display: block;
    }
  }

  .site-title {
    font-weight: bolder;
  }
}

.custom-logo-image {
  margin-top: 20px;

  +tablet-mobile() {
    display: none;
  }
}

.brand {
  border-bottom: 0;
  color: var(--brand-color);
  display: inline-block;//display: block;
  padding: $brand-padding;

  flex-grow: 1;
  text-align: center;
  line-height: normal;

  &:hover {
    color: var(--brand-hover-color);
  }
}

.site-title {
  font-family: $font-family-logo;
  font-size: $font-size-title;
  font-weight: bolder;//normal;

  line-height: 1.5;
  margin: 0;
}

.site-subtitle {
  color: $subtitle-color;
  font-size: $font-size-subtitle;
  margin: $site-subtitle-margin;
}

.use-motion {
  .site-title, .site-subtitle, .custom-logo-image {
    opacity: 0;
    position: relative;
    top: -10px;
  }
}


.logo-line {
  background: var(--brand-color);
  display: block;
  height: 2px;
  margin: 0 auto;
  width: 75%;

  +mobile() {
    display: none;
  }
}
*/